//colors:
$blueTitle: #0d0d97;

.image__container {
    height: 200px;
}

.profile__img {
    border-radius: 50%;
    padding: 5%;
    width: 50%;
    height: 100%;
}

.profile__img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.member__name {
    color: $blueTitle;
}

span {
    font-weight: bolder;
}